.topnav {
    overflow: hidden;
    /* background-color: #333; */
    font-family: Futura; 
    font-style: bold;
  }
  .topnav img
  {
    height: 70px;
    align-content: left;
    padding-left: 50px;
  }
  .topnav a {
    float: right;
    color:rgb(0, 70, 0);
    text-align: center;
    padding: 14px 50px;
    text-decoration: none;
    font-size: 17px;
    padding-top: 20px;
    margin-right: 50px;
  }
  
  .topnav a:hover {
    background-color: #eed8c0;
    /* color: rgb(0, 129, 0); */
  }

  h1 {
    font-family: Futura, 
    "Trebuchet MS", Arial, sans-serif; 
    font-size: 55px;
    position: relative;
    padding-left: 50px; 
    color: #005de9;
  }
  h2{
    font-family: Futura, 
    "Trebuchet MS", Arial, sans-serif; 
    font-size: 40px;
    position: relative;
    padding-left: 50px;
  }